* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #333;
    display: grid;
    place-items: center;
    height: 100vh;
}

.container {
    position: relative;
    top: 50px;
}

.cup {
    /*
    height: 280px;
    width: 300px;
    */
    position: relative;
    height: 100px;
    width: 100px;
    background-image: linear-gradient(to right, #f9f9f9, #d9d9d9);
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
}

.top {
    /*
    top: -30px;
    height: 60px;
    */
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to right, #f9f9f9, #d9d9d9);
    border-radius: 50%;
}

.inner {
    /*
    top: 5px;
    left: 10px;
    width: calc(100% - 20px);
    height: 50px;
    */
    position: absolute;
    width: 90px;
    top: 3px;
    left: 5px;
    height: 20px;
    background: linear-gradient(to left, #f9f9f9, #d9d9d9);
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
}

.coffee {
    /*
    top: 0;
    left: 0;
    background: linear-gradient(#c57e65, #e28462);
    */
    position: absolute;
    top: 3px;
    width: 100%;
    height: 100%;
    background: linear-gradient(#1c1008, #643212);
    border-radius: 50%;
}

.handle {
    /*
    right: -70px;
    top: 40px;
    width: 160px;
    height: 180px;
    border: 25px solid #dcdcdc;
    border-left: 25px solid transparent;
    border-bottom: 25px solid transparent;

    */
    position: absolute;
    border: 10px solid black;
    height: 60px;
    width: 40px;
    border-left: transparent;
    border-bottom: transparent;
    border-radius: 50%;
    border-color: #dcdcdc;
    right: -20px;
    top: 10px;
    transform: rotate(35deg)
}

.plate {
    /*
    bottom: -50px;
    height: 200px;
    width: 500px;
    box-shadow: 0 35px 35px rgba(0, 0, 0, 0.7);
    */
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to right, #d9d9d9, #e7e7e7);
    height: 70px;
    width: 180px;
    border-radius: 50%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.7);
}

.plate::before {
    /*
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    */
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: linear-gradient(to left, #f9f9f9, #dfdfdf);
    border-radius: 50%;
}

.plate::after {
    /*
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    */
    content: '';
    position: absolute;
    top: 15px;
    left: 20px;
    right: 20px;
    bottom: 10px;
    background: radial-gradient(rgba(0,0,0,0.2) 25%, transparent, transparent );
    border-radius: 50%;
}

.vapour{
    /*
    padding: 0 20px;
    */
    position: relative;
    display: flex;
    z-index: 1;
    padding: 0 10px;
}

.vapour span {
    /*
    left: 0;
    bottom: 50px;
    margin: 0 2px 50px;
    min-width: 5px;
    height: 120px;
    */
    
    position: relative;
    left: -10px;
    bottom: 30px;
    display: block;
    margin: 0 2px 20px;
    min-width: 5px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    animation: animate 5s linear infinite;
    opacity: 0;
    filter: blur(5px);
    animation-delay: calc(var(--i) * -0.5s);
}

@keyframes animate {
    0% {
        transform: translateY(0) scaleX(1);
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    50% {
        transform: translateY(-35px) scaleX(5);
    }
    95% {
        opacity: 0;
    }
    100% {
        transform: translateY(-70px) scaleX(10);
    }
}
